<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta charset="UTF-8">
		<title>Парафія Святого Олександра в м. Києві</title>
		<meta name="description"
			value="Парафіяльна сторінка костелу Св. Олександра м. Києва"/>
		<!-- Include Styles -->
        <style type="text/css">.col-xs-12, .col-xs-4, .col-xs-8 {border:1px solid red;}</style>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<!-- Start Container -->
		<div class="container">
			<!-- Start Header -->
			<div class="row" id="header">
				<!--Logo -->
				<div class="col-xs-8">
					<h1>Парафія Св. Олександра</h1>
				</div>
				<!-- Groups Selector -->
				<div class="col-xs-4" id="group-selector">
					<strong>Розділ:</strong>
					<select>
						<option value="">Головна</option>
						<option value="">Оголошення</option>
						<option value="">Фото</option>
					</select>
				</div>
			</div>
			<!--End Header -->
			<!-- Start SubHeader -->
			<div class="row" id="sub-header">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#">Студенти</a></li>
						<li role="presentation"><a href="#">Відвідування</a></li>
						<li role="presentation"><a href="#">Групи</a></li>
					</ul>
				</div>
			</div>
			<!-- End SubHeader -->
			<!-- Start Main Page Content -->
			<div class="row" id="content-columns">
				<div class="col-xs-12" id="content-column">
 				<!-- Status Message -->
					<div class="alert alert-warning">Зміни скасовано.</div>

					<div class="col-xs-12">
						<div class="col-xs-10">
							<h2>База Студентів</h2>
						</div>
						<!-- Add Student Button -->
						<div class="col-xs-2" style="margin-top: 22px">
							<a class="btn btn-primary" id="add-student-btn" href="#">Додати Студента</a>
						</div>
					</div>
					<div class="col-xs-12">
						<!-- Start Students Listing -->
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>№</th>
									<th>Фото</th>
									<th><a href=""></a>Прізвище</th>
									<th><a href="#"></a>Ім'я</th>
									<th><a href="#"></a>№ Білету</th>
									<th>Дії</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td><img heigth = "30" width = "30" class="img-circle"  src="static/img/me.jpg"></td>
									<td><a title="Редагувати" href="#"></a>Петренко</td>
									<td><a title="Редагувати" href="#"></a>Іван</td>
									<td>1234</td>
									<td>
										<div class="dropdown">
											<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
												Дія
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Відвідування</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Редагувати</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Видалити</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td>2</td>
									<td><img src="static/img/skevs.jpg" heigth = "30" width = "30" class="img-circle"></td>
									<td><a title="Редагувати" href="#"></a>Коваленко</td>
									<td><a title="Редагувати" href="#"></a>Петро</td>
									<td>5678</td>
									<td>
										<div class="dropdown">
											<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
												Дія
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Відвідування</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Редагувати</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Видалити</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td>3</td>
									<td><img heigth = "30" width = "30" class="img-circle" src="static/img/alex.jpg"></td>
									<td><a title="Редагувати" href="#"></a>Кацман</td>
									<td><a title="Редагувати" href="#"></a>Іцхак</td>
									<td>9999</td>
									<td>
										<div class="dropdown">
											<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
												Дія
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Відвідування</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Редагувати</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Видалити</a></li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- End Students Listing -->
						<nav>
							<ul class="pagination">
								<li><a href="#">&laquo;</a></li>
								<li><a href="#">1</a></li>
								<li class="active"><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- End Main Page Content -->
			<!-- Start Footer -->
			<div class="row" id="footer">
				<div class="col-xs-12">
					&copy; 2015 Сарт
				</div>
			</div>
			<!-- End Footer -->
		</div>
		<!-- End Container -->
		<!-- JavaScript Section -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	</body>
</html>