<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta charset="UTF-8">
		<title>Парафія Святого Олександра в м. Києві</title>
		<meta name="description"
			value="Парафіяльна сторінка костелу Св. Олександра м. Києва"/>
		<!-- Include Styles -->
        <style type="text/css">.col-xs-12, .col-xs-4, .col-xs-8 {border:1px solid red;}</style>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<!-- Start Container -->
		<div class="container">
			<!-- Start Header -->
			<div class="row" id="header">
				<!--Logo -->
				<div class="col-xs-12">
					<h1>Парафія Св. Олександра</h1>
				</div>
            </div>
			<!--End Header -->
			<!-- Start SubHeader -->
			<div class="row" id="sub-header">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#">Головна</a></li>
						<li role="presentation"><a href="#">Оголошення</a></li>
						<li role="presentation"><a href="#">Фото</a></li>
                        <li role="presentation"><a href="#">Історія</a></li>
					</ul>
				</div>
			</div>
			<!-- End SubHeader -->
			<!-- Start Main Page Content -->
			<div class="row" id="content-columns">
				<div class="col-xs-12" id="content-column">
 				<!-- Status Message -->
					<div class="col-xs-12">
						<div class="col-xs-10">
							<h2>Останні події</h2>
						</div>
                    </div>
					<div class="col-xs-12">
						<!-- Start Students Listing -->
                    </div>
				</div>
			</div>
			<!-- End Main Page Content -->
			<!-- Start Footer -->
			<div class="row" id="footer">
				<div class="col-xs-12">
					&copy; 2016 Michael V. Yatsko
				</div>
			</div>
			<!-- End Footer -->
		</div>
		<!-- End Container -->
		<!-- JavaScript Section -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</body>
</html>